// 基础色调
$nf-btn-font: #626262;

$header-height: 60px;
$footer-height: 116px;

$nf-light: #f1f1f4;
$nf-gentle: #f5f5f8;
$nf-slight: #d8d8d8;

$nf-dark: #333333;
$nf-gray: #666666;
$nf-heavy: #2e2e2e;
$nf-stabled: #999999;

$nf-active: #4db6ac;
$nf-classic: #69be87;


$nf-pink : #FF2D54;
$nf-assertive: #FF2D54;
// $nf-assertive: #e61616;

$nf-calm: #6699cc;

$nf-soft: #9b9b9b;

$nf-sunny: #feb64d;
$nf-warning: #ECA51B;
$nf-expensive: #eabe66;

$nf-3c: #cccccc;
$nf-3e: #eeeeee;
$nf-f4: #f4f4f4;

$nf-border: #e5e5e5;
$nf-focus: #c5c6d1;

// 播放器相关变量
$slider-width: 285px;
$slider-tabs-height: 55px;

$player-width-md: 900px;
$player-height-md: 506px;
