{
  "plugins": [
    ["module-alias", [
      { "src": "./client/utils", "expose": "@utils" },
      { "src": "./client/pages", "expose": "@pages" },
      { "src": "./client/containers", "expose": "@containers" },
      { "src": "./client/components", "expose": "@components" },
      { "src": "./client/constants", "expose": "@constants" },
      { "src": "./client/reducers", "expose": "@reducers" },
      { "src": "./client/actions", "expose": "@actions" },
      { "src": "./client/assets/scss", "expose": "@scss" }
    ]]
  ]
}